
Hello
<%= @user.name %>

<p>Please see your account's details here: </p>


<h1>These are your favourites ...</h1>

<% @favourites.each do |f| %>
<%= image_tag f.image %>

<% end %>


<%# button to unfavourite %>
