
<div class="container1">

<h1 class="anima_text"> Happy Feet  </h1>

<img class="doggo" src='/assets/cat_main.gif' alt="doggo">
<img class="envelope animated tada infinite" src='/assets/envelope.svg' alt="envelope">

<h3>Welcome! </h3>
<h6> Lui the Cat, the guide has a message for you. Click on it to see!</h6>
<h4> If you want to skip, use the toolbar on the top! </h4>

<div class="hidden-modal modal-style cross"> Hello hooman! <br/>
   Welcome to Happy Feet! <br/> Here, you can see all my friends and decide which one is your forever pet.  <span class="close_x"> X<span>
<img class="cat_blink" src='/assets/cat_blink.gif' alt="cat2">

</div>

</div>
