
<div class="container">
<img class="doggo" src='/assets/cat_main.gif' alt="doggo">
<img class="envelope animated tada infinite" src='/assets/envelope.svg' alt="envelope">
<h3>A new message! Click on it to read!</h3>

<div class="hidden-modal modal-style cross"> Hello hooman! It is time to meet my lovely friends. I am sure you will like them all. Do not forget to donate some money!  <span> x<span>
<img class="cat_blink" src='/assets/cat_blink.gif' alt="cat2">

</div>

</div>
