// Place all the styles related to the Animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
border-radius: 60px;
max-width: 220px;
max-height: 250px;

display: inline-block;
}


body {

background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url("/assets/paws.jpg")

   center no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -ms-background-size: cover;
 background-size: cover;
 color: black;
}
