// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a {
color: #A77D44;
font-size: 20px;
}

h5 {
font-size: 32px;

}
