// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-title {
  margin-top: 20px;
color: black;
font-weight: bold;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

.btn-primary {
background-color: #44A9D8;
border-color: #44A9D8;

}
